version: "3.9"

services:
  server:
    build: ./server
    container_name: server
    ports:
      - "4001:4000"

  client:
    build: ./client
    container_name: client
    ports:
      - "3000:80"
    depends_on:
      - server

  admin:
    build: ./admin
    container_name: admin
    ports:
      - "3001:80"
    depends_on:
      - server
